DATABASE_URL="mysql://ganesha_user:CHANGE_THIS_PASSWORD@localhost:3306/ganesha_db"
JWT_SECRET="CHANGE_THIS_RANDOM_SECRET_MIN_32_CHARS"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV="production"
FRONTEND_URL="http://ganeshaink.pt"
BACKOFFICE_URL="http://admin.ganeshaink.pt"
SMTP_HOST="mail.ganeshaink.pt"
SMTP_PORT=587
SMTP_USER="noreply@ganeshaink.pt"
SMTP_PASS="CHANGE_THIS"
SMTP_FROM="Ganesha Ink <noreply@ganeshaink.pt>"
