DATABASE_URL="mysql://UTILIZADOR_CPANEL:PASSWORD_CPANEL@localhost:3306/NOME_BASE_DADOS"
JWT_SECRET="MUDA_ISTO_STRING_ALEATORIA_MINIMO_32_CHARS"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV="production"
FRONTEND_URL="https://magnificent-ivory-cobra.62-193-192-119.cpanel.site"
BACKOFFICE_URL="http://localhost:3002"
SMTP_HOST="mail.ganeshaink.pt"
SMTP_PORT=587
SMTP_USER="noreply@ganeshaink.pt"
SMTP_PASS="CHANGE_THIS"
SMTP_FROM="Ganesha Ink <noreply@ganeshaink.pt>"
